<div class="article-frame">

<div class="article-frame__toolbar">

    @if (!documentState.linted() && !rawText()) {
      <button
        matButton="outlined"
        type="button"
        (click)="insertDemoText()"
        aria-label="Insert sample demo text">
        <mat-icon>text_snippet</mat-icon>
        <span>Demo Text</span>
      </button>
    }

    @if (rawText()) {
      <button
        matButton="outlined"
        type="button"
        (click)="clearTextt()"
        aria-label="Insert sample demo text">
        <mat-icon>backspace</mat-icon>
        <span>Clear</span>
      </button>
    }

  <button
    matButton="outlined"
    type="button"
    class="last"
    (click)="copy()"
    [disabled]="!outputDocument.plainText()"
    [attr.aria-label]="copied() ? 'Copied' : 'Copy document'">
    <mat-icon>{{ copied() ? 'check' : 'content_copy' }}</mat-icon>
    <span>{{ copied() ? 'Copied' : 'Copy' }}</span>
  </button>
</div>


  <article class="article-frame__content">

    @if (!documentState.linted()) {
      <textarea
        #rawtext
        class="article-frame__input"
        placeholder="Paste your text here then click Analyse button..."
        [value]="rawText()"
        (input)="onInput($event)"
      ></textarea>
    }

    @else{

        @if (documentState.loading()) {
          <p>Loading…</p>
        }

        @if (documentState.error()) {
          <p>{{ documentState.error() }}</p>
        }

        @if (documentState.linted(); as document) {

        @for (segment of outputDocument.segments(); track segment.id) {
          @switch (segment.kind) {
            @case ('text') {
              <span class="segment-text">{{ segment.text }}</span>
            }
            @case ('correction') {
                  <app-correction-view [segment]="segment"/>
            }
            @case ('inline-correction') {
                  <app-inline-correction-view [segment]="segment"/>
            }
          }
        }
      }
    }
  </article>
</div>
